DEBUG=False
SECRET_KEY=replace-with-a-long-random-secret
ALLOWED_HOSTS=37.32.4.207,localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=http://37.32.4.207,https://37.32.4.207

DB_ENGINE=postgres
POSTGRES_DB=virtual_exam
POSTGRES_USER=virtual_exam
POSTGRES_PASSWORD=replace-with-a-strong-password
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

SECURE_SSL_REDIRECT=false
SESSION_COOKIE_SECURE=false
CSRF_COOKIE_SECURE=false
SECURE_HSTS_SECONDS=0
SESSION_ENGINE=django.contrib.sessions.backends.cached_db
SESSION_COOKIE_AGE=28800

EXAM_MAX_CONCURRENT_STUDENTS=1500
EXAM_MAX_CONCURRENT_TEACHERS=300
